/node_modules
/rocket-insurance-app/node_modules

# dependencies
/node_modules
/rocket-insurance-app/.pnp
/rocket-insurance-app/.pnp.js

# testing
/rocket-insurance-app/coverage

# production
/rocket-insurance-app/build

# misc
/rocket-insurance-app/.DS_Store
/rocket-insurance-app/.env.local
/rocket-insurance-app/.env.development.local
/rocket-insurance-app/.env.test.local
/rocket-insurance-app/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
